[Unit]
Description=Druid NG
After=syslog.target network.target redis.service

[Service]
Type=simple
#PIDFile=/var/run/zabbix_alerter/send_to_splunk_hec.pid
ExecStart=/usr/local/bin/druid-ng --port 3000
StandartError=syslog
StandartOutput=syslog
SyslogIdentifier=druid-ng
User=zabbix
Group=zabbix
Restart=always

[Install]
WantedBy=multi-user.target
