[Unit]
Description=Druid Calc Engine
After=syslog.target network.target redis.service

[Service]
Type=simple
WorkingDirectory=/opt/druid/current
RuntimeDirectory=druid
RuntimeDirectoryMode=0755
ExecStart=/opt/druid/current/engine/svc/druid-calc-engine.pl
StandartError=syslog
StandartOutput=syslog
SyslogIdentifier=druid-calc-engine
User=zabbix
Group=zabbix
Restart=always

[Install]
WantedBy=multi-user.target
