[Unit]
Description=Druid backend next generation
After=syslog.target network.target redis.service

[Service]
Type=simple
ExecStart=/opt/druid/current/bin/druid-ng
StandartError=syslog
StandartOutput=syslog
SyslogIdentifier=druid-ng
User=zabbix
Group=zabbix
Restart=always

[Install]
WantedBy=multi-user.target
