DB_NAME=zabbix
DB_HOST={{ db_ip }}
DB_LOGIN={{ db_login }}
DB_PASSWORD='{{ db_pass }}'
ZBX_URL='http://{{ zabbix }}/zabbix/api_jsonrpc.php'
ZBX_LOGIN='{{ api_login }}'
ZBX_PASS='{{ api_pass }}'
ZBX_SERVER='{{ vhost }}'
